body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;

  .hidden {
    display: none;
    visibility: hidden;
  }

  .visible {
    display: inline-block;
    visibility: visible;
  }

  .pull_left {
    float: left;
  }

  .pull_right {
    float: right;
  }

  .center {
    margin: 0 auto;
  }

  .stat_container{
    width: 300px;
    height: 400px;

    col {
      padding: 40px;
    }

    * {
      padding-top: 10px;
    }
  }
}

