<div class="stat_screen">
    <div class="stat_container">
        <div class="avatar_image center"></div>
        <ul class="col pull_left center">
            <li class="stat_health">1</li>
            <li class="stat_armor">2</li>
            <li class="stat_magic">3</li>
            <li class="stat_magic_armor">4</li>
            <li class="stat_agility">5</li>
            <li class="stat_health">6</li>
        </ul>
        <ul class="col pull_right center">
            <li class="stat_str">7</li>
            <li class="stat_dex">8</li>
            <li class="stat_con">9</li>
            <li class="stat_int">10</li>
            <li class="stat_wis">11</li>
            <li class="stat_cha">12</li>
        </ul>
        <div class="skills center">13</div>
    </div>
</div>